
<div class="group">
  <a class="card-media-logo z-10" href="">t</a>
  <p
   class="card-media-description
         group-hover:opacity-100
         group-hover:transform
        group-hover:translate-x-3/4">Twiter</p>
</div>
<div class="group">
  <a class="card-media-logo z-10" href="">f</a>
  <p
   class="card-media-description
         group-hover:opacity-100
         group-hover:transform
        group-hover:translate-x-3/4">Facebook</p>
</div>
<div class="group">
  <a class="card-media-logo z-10" href="">y</a>
  <p
   class="card-media-description
         group-hover:opacity-100
         group-hover:transform
        group-hover:translate-x-3/4">Youtube</p>
</div>