<aside>
  <h3 class="aside-title-cards">Buscar</h3>
  <div class="flex mx-auto justify-center">
    <form class="form">
      <input class="aside-input-search" type="text">
      <input class="icon-search" type="button" value="L">
    </form>
  </div>

  <app-login></app-login>
  <div class="container-social-media">
    <h3 class="aside-title-cards">REDES SOCIALES</h3>
    <div
      class="container-card mt-5 mb-5 h-48">
    <app-card-social-media></app-card-social-media>

    </div>
  </div>
  <div class="container-sponsors">
    <h3 class="aside-title-cards">PATROCINADORES</h3>
    <app-sponsors></app-sponsors>
  </div>
 
</aside>