<div class="footer">
  <div class="p-4">
    <div class="footer-title-section">
      Menú
    </div>
    <div class="footer-links">
      <a class="footer-link" href="">
        <span class="bullet text-white">&bull;</span>
        <span class="footer-link-text">Inicio</span>
      </a>
      <hr class="footer-hr">
      <a class="footer-link" href="">
        <span class="bullet text-white">&bull;</span>
         <span class="footer-link-text">Blog</span>
        </a>
      <hr class="footer-hr">
      <a class="footer-link" href="">
        <span class="bullet text-white">&bull;</span>
        <span class="footer-link-text">Formación</span></a>
      <hr class="footer-hr">
      <a class="footer-link" href="">
        <span class="bullet text-white">&bull;</span>
        <span class="footer-link-text">Contacto</span></a>
      <hr class="footer-hr">
    </div>

  </div>
  <div class="p-4">
    <div class="footer-title-section mb-4">
      ¿Dónde estamos?
    </div>

    <div class="footer-map">
      <iframe src="https://www.google.com/maps/embed?pb=!4v1727468942658!6m8!1m7!1sIPlnb83nZFec5dBoZQVZsg!2m2!1d-8.085583654494478!2d-79.02865973610338!3f67.3559066372509!4f-0.20633916575111755!5f0.7820865974627469" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="p-4">
    <div class="developer">
      <div class="footer-title-section mb-4">
        Desarrollado con
      </div>

      <img class="block
                  mx-auto mb-3" src="./assets/images/html5-badge-h-css3-graphics-multimedia-performance-semantics.png" alt="image">

      <div class="footer-title-section mb-4">
        Optimizado para
      </div>

      <div class="flex justify-center mb-4">
        <img class="h-8" src="./assets/images/firefox-icon.png" alt="image">
        <img class="h-8" src="./assets/images/chrome.png" alt="image">
        <img class="h-8" src="./assets/images/Opera_256x256.png" alt="image">
        <img class="h-8" src="./assets/images/safari.png" alt="image">
        <img class="h-8" src="./assets/images/android.png" alt="image">
        <img class="h-8" src="./assets/images/ios.png" alt="image">
      </div>

      <div class="footer-title-section mb-4">
        Autor
      </div>

      <p class="trebuchet text-white text-center">&#64;Cristian Sanchez</p>
    </div>
  </div>
</div>