  <div class="card__logo">
    <span class="card-icon
                group-hover:text-6xl
                group-hover:text-blue-light
                group-hover:animate-from-top
                group-hover:scale-125
                group-hover:pt-5">{{logo}}</span>
  </div>
  <div class="card__title">
    <h2 class="card-title
              group-hover:text-white
              group-hover:animate-from-top-delay">{{title}}</h2>
  </div>
  <div class="card__description">
    <p class="card-description
            group-hover:text-white
            group-hover:animate-from-left">{{description}}</p>
  </div>