<div class="banner-container
            w-full
            h-28
            phone:h-32
            mx-auto
            border-8
            border-white
            overflow-hidden
            shadow
            m-5
            bg-banner-pattern
            bg-banner-position
            animate-bg-banner
            ">
  <h1 class="bebas
             block
             text-white
             text-4xl
             phone:text-3xl
             font-normal
             tracking-wider
             m-7
             mx-auto
             text-center
             animate-text-banner
             tablet:text-2xl
             tablet:mt-8">Cursos de Desarrollo Web</h1>
</div>
